In [2]:
import os, sys
import pandas as pd

In [14]:
import re

In [3]:
current_dir =   os.getcwd()
parrent_dir = os.path.dirname(current_dir)
sys.path.insert(0,parrent_dir)

In [4]:
sys.path.append(os.path.abspath(os.path.join(os.path.dirname(parrent_dir), '..')))

In [4]:
os.getcwd()

'd:\\Machine Learning\\telegram-channel-scraping\\notebooks'

In [5]:
os.chdir("..")

In [5]:
from scripts.preprocess_data import DataProcessor

In [33]:
file1 = '../scraped_data/EAHCI.json'
file2 = '../scraped_data/DoctorsET.json'
file3 = '../scraped_data/lobelia4cosmetics.json'
file4 = '../scraped_data/yetenaweg.json'

In [34]:
df1 = DataProcessor(file1).load_json()
df2 = DataProcessor(file2).load_json()
df3 = DataProcessor(file3).load_json()
df4 = DataProcessor(file4).load_json()

JSON data loaded successfully.
JSON data loaded successfully.
JSON data loaded successfully.
JSON data loaded successfully.

In [57]:
# Merge the dataframes
merged_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Display the merged dataframe
print(merged_df)

       id                                               text
0    2609  #·ã®·åç·à≠·ãõ·âµ_·àµ·àç·å†·äì_Addis_Ababa \n#Circumcision_Skill_...
1    2608  #OBGYN_Ultrasound_Training@Hawassa!\n**#·äê·åà**_*...
2    2607  #**Adult_ECHO_Training****@****#ADISS_ABABA_By...
3    2606  #OBGYN_Ultrasound_Training@HOSSANA!\n#·ã®·ä´·â≤·âµ 2 ·ã≠...
4    2605                                               None
..    ...                                                ...
395  1149                    ·àÖ·ä≠·àù·äì·ãç ·ä•·äì ·àò·ä®·àã·ä®·ã´ ·àò·äï·åà·ã∂·âπ ·àù·äï ·ã≠·àò·àµ·àã·àâ ?
396  1148  ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ä•·äï·ã¥·âµ ·ä®·ä†·äï·ãµ ·à∞·ãç ·ãà·ã∞ ·àå·àã ·ã≠·â∞·àã·àà·çã·àç ? \n·ã≠·àÖ·äï ·àõ...
397  1147           ·â†·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ãµ·äï·åà·âµ ·â¢·ã´·ãô·ç£ ·â†·àΩ·â≥·ãç ·àù·äï ·ã´·àÖ·àç ·ä†·àµ·åä ·äê·ãç?
398  1146
399  1145                            ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·àù·àç·ä≠·â∂·âΩ·äï ·ã´·ãç·âÉ·àâ?

[400 rows x 2 columns]

In [58]:
df1

      id                                               text
0   2609  #·ã®·åç·à≠·ãõ·âµ_·àµ·àç·å†·äì_Addis_Ababa \n#Circumcision_Skill_...
1   2608  #OBGYN_Ultrasound_Training@Hawassa!\n**#·äê·åà**_*...
2   2607  #**Adult_ECHO_Training****@****#ADISS_ABABA_By...
3   2606  #OBGYN_Ultrasound_Training@HOSSANA!\n#·ã®·ä´·â≤·âµ 2 ·ã≠...
4   2605                                               None
..   ...                                                ...
95  2501
96  2500                                               None
97  2499                                               None
98  2498  üí•Adult_ECHO_Training #Hawassa_By_Cardiologist_...
99  2496  ¬†#üí•CPD #·ã®·àû·ã´_·çà·âÉ·ãµ_·àà·àõ·à≥·ã∞·àµ_CPD_·ã≠·àò·ãù·åà·â°\n#Title= Emerg...

[100 rows x 2 columns]

In [59]:
merged_df

       id                                               text
0    2609  #·ã®·åç·à≠·ãõ·âµ_·àµ·àç·å†·äì_Addis_Ababa \n#Circumcision_Skill_...
1    2608  #OBGYN_Ultrasound_Training@Hawassa!\n**#·äê·åà**_*...
2    2607  #**Adult_ECHO_Training****@****#ADISS_ABABA_By...
3    2606  #OBGYN_Ultrasound_Training@HOSSANA!\n#·ã®·ä´·â≤·âµ 2 ·ã≠...
4    2605                                               None
..    ...                                                ...
395  1149                    ·àÖ·ä≠·àù·äì·ãç ·ä•·äì ·àò·ä®·àã·ä®·ã´ ·àò·äï·åà·ã∂·âπ ·àù·äï ·ã≠·àò·àµ·àã·àâ ?
396  1148  ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ä•·äï·ã¥·âµ ·ä®·ä†·äï·ãµ ·à∞·ãç ·ãà·ã∞ ·àå·àã ·ã≠·â∞·àã·àà·çã·àç ? \n·ã≠·àÖ·äï ·àõ...
397  1147           ·â†·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ãµ·äï·åà·âµ ·â¢·ã´·ãô·ç£ ·â†·àΩ·â≥·ãç ·àù·äï ·ã´·àÖ·àç ·ä†·àµ·åä ·äê·ãç?
398  1146
399  1145                            ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·àù·àç·ä≠·â∂·âΩ·äï ·ã´·ãç·âÉ·àâ?

[400 rows x 2 columns]

In [60]:
merged_df = merged_df.dropna(subset=['text'])

In [61]:
merged_df = merged_df[merged_df['text'].str.strip() != '']  # Drop rows with empty strings

In [62]:
merged_df = merged_df.drop_duplicates()

In [63]:
merged_df['text'] = merged_df['text'].str.replace('\n', ' ', regex=False).str.strip()

In [64]:
merged_df

       id                                               text
0    2609  #·ã®·åç·à≠·ãõ·âµ_·àµ·àç·å†·äì_Addis_Ababa  #Circumcision_Skill_T...
1    2608  #OBGYN_Ultrasound_Training@Hawassa! **#·äê·åà**_**...
2    2607  #**Adult_ECHO_Training****@****#ADISS_ABABA_By...
3    2606  #OBGYN_Ultrasound_Training@HOSSANA! #·ã®·ä´·â≤·âµ 2 ·ã≠·åÄ...
5    2604  #OBGYN_Ultrasound_Training@ADAMA! #·ã®·ä´·â≤·âµ 2 ·ã≠·åÄ·àù·à´...
..    ...                                                ...
393  1151  üí• ·âÖ·ãµ·àò ·ä•·à≠·åç·ãù·äì ·ä≠·âµ·âµ·àç ·àõ·àà·âµ ·ä†·äï·ã≤·âµ ·à¥·âµ ·ä®·àõ·à≠·åà·ãü ·â†·çä·âµ ·àµ·àà ·ä†·å†·âÉ·àã...
395  1149                    ·àÖ·ä≠·àù·äì·ãç ·ä•·äì ·àò·ä®·àã·ä®·ã´ ·àò·äï·åà·ã∂·âπ ·àù·äï ·ã≠·àò·àµ·àã·àâ ?
396  1148  ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ä•·äï·ã¥·âµ ·ä®·ä†·äï·ãµ ·à∞·ãç ·ãà·ã∞ ·àå·àã ·ã≠·â∞·àã·àà·çã·àç ?  ·ã≠·àÖ·äï ·àõ·ãà...
397  1147           ·â†·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ãµ·äï·åà·âµ ·â¢·ã´·ãô·ç£ ·â†·àΩ·â≥·ãç ·àù·äï ·ã´·àÖ·àç ·ä†·àµ·åä ·äê·ãç?
399  1145                            ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·àù·àç·ä≠·â∂·âΩ·äï ·ã´·ãç·âÉ·àâ?

[259 rows x 2 columns]

In [65]:
def remove_emoji(text):
    # This regex pattern covers a broad range of emojis
    emoji_pattern = re.compile(
        "["
        "\U0001F600-\U0001F64F"  # emoticons
        "\U0001F300-\U0001F5FF"  # symbols & pictographs
        "\U0001F680-\U0001F6FF"  # transport & map symbols
        "\U0001F1E0-\U0001F1FF"  # flags (iOS)
        "\U00002702-\U000027B0"  # additional symbols
        "\U000024C2-\U0001F251"  # additional symbols
        "]+",
        flags=re.UNICODE
    )
    return emoji_pattern.sub(r'', text)

In [66]:
merged_df['text'] = merged_df['text'].apply(remove_emoji)

In [67]:
merged_df

       id                                               text
0    2609  #·ã®·åç·à≠·ãõ·âµ_·àµ·àç·å†·äì_Addis_Ababa  #Circumcision_Skill_T...
1    2608  #OBGYN_Ultrasound_Training@Hawassa! **#·äê·åà**_**...
2    2607  #**Adult_ECHO_Training****@****#ADISS_ABABA_By...
3    2606  #OBGYN_Ultrasound_Training@HOSSANA! #·ã®·ä´·â≤·âµ 2 ·ã≠·åÄ...
5    2604  #OBGYN_Ultrasound_Training@ADAMA! #·ã®·ä´·â≤·âµ 2 ·ã≠·åÄ·àù·à´...
..    ...                                                ...
393  1151   ·âÖ·ãµ·àò ·ä•·à≠·åç·ãù·äì ·ä≠·âµ·âµ·àç ·àõ·àà·âµ ·ä†·äï·ã≤·âµ ·à¥·âµ ·ä®·àõ·à≠·åà·ãü ·â†·çä·âµ ·àµ·àà ·ä†·å†·âÉ·àã·ã≠...
395  1149                    ·àÖ·ä≠·àù·äì·ãç ·ä•·äì ·àò·ä®·àã·ä®·ã´ ·àò·äï·åà·ã∂·âπ ·àù·äï ·ã≠·àò·àµ·àã·àâ ?
396  1148  ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ä•·äï·ã¥·âµ ·ä®·ä†·äï·ãµ ·à∞·ãç ·ãà·ã∞ ·àå·àã ·ã≠·â∞·àã·àà·çã·àç ?  ·ã≠·àÖ·äï ·àõ·ãà...
397  1147           ·â†·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ãµ·äï·åà·âµ ·â¢·ã´·ãô·ç£ ·â†·àΩ·â≥·ãç ·àù·äï ·ã´·àÖ·àç ·ä†·àµ·åä ·äê·ãç?
399  1145                            ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·àù·àç·ä≠·â∂·âΩ·äï ·ã´·ãç·âÉ·àâ?

[259 rows x 2 columns]

In [68]:
# def extract_telegram_links(text):
#     telegram_pattern = re.compile(r'(https?://t\.me/[^\s]+)')
#     return telegram_pattern.findall(text)

# # Apply the function to the 'text' column of the dataframe
# merged_df['telegram_links'] = merged_df['text'].apply(extract_telegram_links)

# # Display the dataframe with the extracted links
# print(merged_df[['text', 'telegram_links']])

In [69]:
# merged_df['text'] = merged_df['text'].str.replace('telegram', '', case=False, regex=False)

In [70]:
# merged_df['telegram_links'] = merged_df['telegram_links'].apply(lambda x: ', '.join(x))

In [71]:
merged_df

       id                                               text
0    2609  #·ã®·åç·à≠·ãõ·âµ_·àµ·àç·å†·äì_Addis_Ababa  #Circumcision_Skill_T...
1    2608  #OBGYN_Ultrasound_Training@Hawassa! **#·äê·åà**_**...
2    2607  #**Adult_ECHO_Training****@****#ADISS_ABABA_By...
3    2606  #OBGYN_Ultrasound_Training@HOSSANA! #·ã®·ä´·â≤·âµ 2 ·ã≠·åÄ...
5    2604  #OBGYN_Ultrasound_Training@ADAMA! #·ã®·ä´·â≤·âµ 2 ·ã≠·åÄ·àù·à´...
..    ...                                                ...
393  1151   ·âÖ·ãµ·àò ·ä•·à≠·åç·ãù·äì ·ä≠·âµ·âµ·àç ·àõ·àà·âµ ·ä†·äï·ã≤·âµ ·à¥·âµ ·ä®·àõ·à≠·åà·ãü ·â†·çä·âµ ·àµ·àà ·ä†·å†·âÉ·àã·ã≠...
395  1149                    ·àÖ·ä≠·àù·äì·ãç ·ä•·äì ·àò·ä®·àã·ä®·ã´ ·àò·äï·åà·ã∂·âπ ·àù·äï ·ã≠·àò·àµ·àã·àâ ?
396  1148  ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ä•·äï·ã¥·âµ ·ä®·ä†·äï·ãµ ·à∞·ãç ·ãà·ã∞ ·àå·àã ·ã≠·â∞·àã·àà·çã·àç ?  ·ã≠·àÖ·äï ·àõ·ãà...
397  1147           ·â†·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·ãµ·äï·åà·âµ ·â¢·ã´·ãô·ç£ ·â†·àΩ·â≥·ãç ·àù·äï ·ã´·àÖ·àç ·ä†·àµ·åä ·äê·ãç?
399  1145                            ·ã®·ãù·äï·åÄ·àÆ ·çà·äï·å£·å£ ·àù·àç·ä≠·â∂·âΩ·äï ·ã´·ãç·âÉ·àâ?

[259 rows x 2 columns]

In [72]:
# df_clean['text'] = df_clean['text'].str.replace('/', '', regex=False)

In [73]:
# Create the cleaned_dataset folder if it doesn't exist
os.makedirs('cleaned_dataset', exist_ok=True)

# Save the df_clean dataframe as cleaned_data.csv inside the cleaned_dataset folder
merged_df.to_csv('../cleaned_dataset/cleaned_data.csv', index=False)

In [74]:
from sqlalchemy import create_engine

# Database connection parameters
db_user = 'postgres'
db_password = '1431'
db_host = 'localhost'
db_port = '5432'
db_name = 'tg_data'

# Create a connection string
connection_string = f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

# Create a database engine
engine = create_engine(connection_string)

# Store the dataframe in the PostgreSQL database
merged_df.to_sql('cleaned_data', engine, if_exists='replace', index=False)

259